:root {
    /* Color */
    --white: #fafafa;
    --black: #000000;
    --blue: #1565c0;
    --dark-grey: #424242;
    --grey: #757575;

    /* Size */
    --padding: 12px;
    --thumb_size: 36px;

    /* Font Size */
    --large: 20px;
    --medium: 16px;
    --small: 14px;
    --micro: 12px;
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Roboto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--black);
}

/* Header */
header {
    position: sticky;
    top: 0;
    display: flex;
    padding: var(--padding);
}
header .logo img{
    width: 23px;
    height: 23px;
    flex: 1 1 5%;
    margin-right: var(--padding);
}
header .title {
    flex: 1 90%
}
header .icons {
    flex: 1 1 5%;
}
header .title {
    display: flex;
    flex-direction: row;
    font-size: var(--large);
}
header .title #main {
    padding-right: 8px;
    font-weight: bold;
}
a span {
    color: #1565c0;
}
header .icons {
    display: flex;
    flex-direction: row;
    font-size: var(--large);
}
header .icons li a i {
    color: var(--dark-grey);
}
header .icons #ser {
    padding-left: var(--padding);
    padding-right: var(--padding);
}


/* Mail List*/
.list {
    display: flex;
    flex-direction: row;
}
.list .thumb {
    flex: 1 1 1%;
}
.list .data {
    flex: 1 1 94%;
}
.list .datestar {
    flex: 1 1 5%;
    text-align: right;
    padding-right: var(--padding);
}
.list .thumb {
    margin: 7px;
    padding: var(--padding);
    background-color: orange;
    border-radius: 100%;
    font-size: var(--large);
    color: var(--white) ;
}
.list .data .name {
    font-size: var(--medium);
    font-weight: bold;
    padding-top: var(--padding);

}
.list .data .content {
    font-size: var(--small);
    padding-top: 3px;
}
.list .datestar .date {
    font-size: var(--micro);
    padding-top: var(--padding);
    color: var(--grey);
}
.list .datestar .btn {
    border: 0;
    outline: 0;
    padding-top: 8px;
    color: var(--grey);
    background-color: white;
    cursor: pointer;
}
.list .datestar .btn:active {
    color: yellow;
}


/* Write */
.write {
    position: absolute;
    right: 32px;
    bottom: 32px;
    padding: 20px;
    font-size: var(--large);
    color: var(--white);
    background-color: #1565c0;
    border-radius: 100%;
}